* {
    font-family: arial
}

body {
    /*background: yellow;*/
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial;
}

a {
    color: #482744;
    /*color: #741B47;*/
    text-decoration: none;
}

a:hover {
    color: #4D9433;
    /*color: #482744;*/
    text-decoration: underline;
}

a:active {
    color: #4D9433;
    text-decoration: underline;
}

h1 {
    color:#4C1130;
    font-size:18px;
    margin: 0;
    padding: 0;
}

h2 {
    color:black;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h3 {
    color:black;
    font-size: 14px;
    margin: 0;
    padding: 20px 0 20px 0;
}

h4 {
    font-weight: normal;
    font-size:14px;
    color:black;
    margin: 0;
    padding: 5px 0 10px 0;
}

h5 {
    color:black;
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    padding: 0;
}

.space_10 {
    height: 10px;
}

.align-right {
    text-align: right;
}

.clear {
    clear: both;
}


table {
    border-collapse : collapse;
}

table td, table th {
    padding : 0;
}

.w700 {
    width:700px;
}


.success {
    font-weight: bold;
    color:#38761D;
}

.error {
    font-weight: bold;
    color:#FF0000;
}
