* {
    font-family: verdana
}

body {
    /*background: yellow;*/
    margin: 0;
    padding: 0;
    font-size: 12px;
}

a {
    color:#741B47;
    text-decoration: none;
}


h1 {
    color:#4C1130;
    font-size:18px;
    margin: 0;
    padding: 0;
}

h2 {
    color:black;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h3 {
    color:black;
    font-size: 14px;
    margin: 0;
    padding: 20px 0 20px 0;
}

.space_10 {
    height: 10px;
}

.align-right {
    text-align: right;
}
